:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: white;
    color: black;
  }
  svg > rect,
  svg > path {
    stroke: gray;
  }
  svg > rect.node {
    fill: white;
  }
  svg > rect.shadow {
    fill: darkgray;
  }
  svg > text {
    fill: black;
  }
  svg.hover > text {
    fill: black;
  }
  svg.active > text {
    fill: black;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: black;
    color: white;
  }
  svg > rect,
  svg > path {
    stroke: lightgray;
  }
  svg > rect.node {
    fill: darkgray;
  }
  svg > rect.shadow {
    fill: black;
  }
  svg > text {
    fill: white;
  }
  svg.hover > text {
    fill: cyan;
  }
  svg.active > text {
    fill: cyan;
  }
}
