svg.svg-tree-node > rect,
svg.svg-tree-node > path {
  color: gray;
  stroke: currentColor;
}
svg.svg-tree-node > rect.node {
  fill: white;
}
svg.svg-tree-node > rect.shadow {
  fill: darkgray;
}
svg.svg-tree-node > text {
  fill: black;
}
svg.svg-tree-node.hover > text {
  fill: black;
}
svg.svg-tree-node.active > text {
  fill: black;
}
