svg > rect,
svg > path {
  color: gray;
  stroke: currentColor;
}
svg > rect.node {
  fill: white;
}
svg > rect.shadow {
  fill: darkgray;
}
svg > text {
  fill: black;
}
svg.hover > text {
  fill: black;
}
svg.active > text {
  fill: black;
}
